asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
Django==5.0.6
googlemaps==4.10.0
idna==3.18
pillow==11.3.0
python-dotenv==1.0.1
requests==2.32.3
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
